@import './fonts.scss';
html {
    font-family: "Roboto";
}

body {
    background-color: gray;
}

h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 1250px;
    margin: 100px auto;
    border: 3px solid #222020;
    background-color: beige;
    border: 3px solid #222020;
    border-radius: 10px;
}

.text_area__wrapper {
    width: 1200px;
    height: 10%;
    padding: 10px;
    border: 3px solid #222020;
    background-color: beige;
    border: 3px solid #222020;
    border-radius: 10px;
    margin: 10px auto 5px;
    display: flex;
    justify-content: space-between;
    // gap: 30px;
}

.text_area {
    font-size: 36px;
    display: block;
    width: 100%;
}

.clear_button {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.help_wrapper {
    width: 30%;
    // border: 3px solid #222020;
    // padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    h3 {
        text-align: center;
        grid-column: 1/4;
    }
    h2 {
        color: green;
        justify-self: center;
    }
}

.keys__container {
    width: 1200px;
    // width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 10px;
    border: 3px solid #222020;
    border-radius: 10px;
    background-color: beige;
}

.row {
    width: 100%;
    display: flex;
    height: 5vh;
    // grid-template-columns: auto;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.key {
    width: 60px;
    height: 100%;
    flex-grow: 1;
    border: 3px solid black;
    border-radius: 10px;
    // text-align: center;
    background-color: gray;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &_pressed {
        border-color: #3498db;
        // color: #fff;
        box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
        transition: all 150ms ease-in-out;
    }
    
}

.down__sign {
    margin: auto;
    font-size: 24px;
}

.up__sign {
    margin: auto;
    margin-left: 10px;
    text-align: left;
    font-size: 18px;
}

.light-on {
    background-color: #3498db;
}